div{
	display: block;
	}
#calc{background-color: rgb(10, 150, 190);
	margin-right: auto ;
	margin-left: auto ;
	border: 3px solid black; 
	width: 155px;
	margin-top: 200px;
}
input{
	background-color: rgb(100, 150, 255);
	color: rgb(0, 0, 170);
	
}
#result{
	width: 100%;
	margin-top: 10px;
	border: none;

}
#information{
	width: 100%;
	margin-top: -0.5em;
	border: none;
	margin-bottom: 10px;
}

#plus{
	padding-left: 10px;
	padding-right: 10px;
}

#minus{
	padding-left: 13px;
	padding-right: 13px;
}
#multiply{
	padding-left: 11px;
	padding-right: 11.5px;
}
#divide{
	padding-left: 13px;
	padding-right: 13.5px;
}
#memory{
	padding-left: 5px;
	padding-right: 4px;
}
#squareRoot{
	padding-left: 3px;
	padding-right: 3px;
}
#ce{
	padding-left: 14px;
	padding-right: 14.5px;
}
#equal{
	padding-left: 29px;
	padding-right: 29.5px;
}


